<% include ../partials/header %> 

<div class="container">
    <header class="jumbotron">
        <div class="container">
             <h2>Welcome to the NucleusNW Experience Portal</h2>
             <p>View our hand-picked experiences from all over the Pacific Northwest</p>
             <% if(currentUser){ %>
             <p>
                <a class="btn btn-heliotrope btn-heliotrope btn-large" href="/experiences/new">Add New Experience</a>
             </p>
             <% } %>
                <div class="row row-tag">
                    <% if (tags) { %>
                        <%  tags.forEach(function(tag) { %>
                            <div class="col-lg-2 col-sm-3 col">
                                <a class="btn btn-dark btn-sm btn-tag" href="/experiences/<%= tag %>/filter"><%= tag %></a>
                            </div>
                        <% }); %>
                    <% }; %>
                </div>
        </div>
    </header>

    <div class="row text-center" id="experience-grid">
         <% experiences.forEach(function(experience) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= experience.image %>" alt="<%= experience.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= experience.name %></h5>
                        <a href="/experiences/<%= experience._id %>" class="btn btn-heliotrope">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
     
</div>

<% include ../partials/footer %>
